.root{
    -fx-background-image: url("../images/OOPP_background_ewi.jpg");
    -fx-background-size:100% auto;
    -fx-background-size:auto 100%;
}

.button{
    -fx-background-color: #59d6ff;
}

.button:hover {
    -fx-border-color: #000000;
    -fx-border-width: 1px;
}

.label .text {
    /*-fx-stroke: black;
    -fx-stroke-width: 0.4px;*/
}