.root{
    -fx-background-color: #27ACE8;
    -fx-background-image: url("../images/OOPP_background_lib.jpg");
    -fx-background-size:100% auto;
    -fx-background-size:auto 100%;
}

#welcome {
    -fx-text-fill: white;
}

#foodbutton {
    -fx-background-image: url("../images/OOPP_button_food.jpg");
    -fx-text-fill: white;
}

#bikebutton {
    -fx-background-image: url("../images/OOPP_button_bike.jpg");
    -fx-text-fill: white;
}

#roombutton {
    -fx-background-image: url("../images/OOPP_button_room.jpg");
    -fx-text-fill: white;
}

#logbutton {
    -fx-background-color: red;
}

#tutitle {
    -fx-font-size: 41;
    -fx-text-fill: white;
}

.button{
    -fx-background-color:
            #27ACE8,
            linear-gradient(#219EDA, #395cab);
    -fx-background-insets: 0,1;
    -fx-background-radius: 0,2;
    -fx-text-fill: black;

}

.button:hover {
    -fx-background-color: linear-gradient(#27ACE8, #395cab);
}

#menu .button {
    -fx-font-size: 15px;
}

.table-view{
    -fx-background-color: rgba(57, 92, 171, 0.2);
}

.table-view .column-header, .table-view .column-header-background .filler {
    -fx-background-color: #395cab;
}

.column-header .label {
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
    -fx-label-padding: 15px;
}

.table-view .cell {
    -fx-background-color: rgba(57, 92, 171, 0.2);
    -fx-cell-size: 50;
}